<div class="page-wrapper">
    <div class="contact">
      <form class="search-bar" action="../shop/index.html" type="GET">
        <input class="search-bar__input" type="search" name="search" placeholder="Search entire store here">
        <i class="fas fa-search search-bar__icon"></i>
      </form>
      <ul class="user-menu">
        <li class="user-menu__item">
          <i class="fas fa-user user-menu__icon"></i>
          <p class="user-menu__item-title">Account</p>
        </li>
        <li class="user-menu__item">
          <i class="fas fa-shopping-cart user-menu__icon"></i>
          <p class="user-menu__item-title">Cart</p>
        </li>
      </ul>
      <a href="https://www.google.co.uk/maps/place/Hi-Fi+Corner/@55.9592111,-3.1861197,17z/data=!3m1!4b1!4m2!3m1!1s0x4887c78b0cbad703:0xefea8f30037de129" target="_blank"><i class="fa__location fas fa-map-marker-alt fa-3x"></i></a>
      <a href="tel:69420"><i class="fa__phone fas fa-phone fa-3x"></i></a>
      <a href="mailto:daddies@ervarme.dk" target="_blank"><i class="fa__mail far fa-envelope fa-3x"></i></a>
      
    </div>
    <header class="header">
      <ul class="navigation__list">
          <li class="navigation__item"><a class=" navigation__link" href="../">HOME</a></li>
          <li class="navigation__item"><a class=" navigation__link" href="#">ABOUT US</a></li>
          <li class="navigation__item"><a class=" navigation__link" href="../brands/">BRANDS</a></li>
          <li class="navigation__item"><a class=" navigation__link" href="#">BLOG</a></li>
          <li class="navigation__item"><a class=" navigation__link" href="#">EVENTS</a></li>
          <li class="navigation__item"><a class=" navigation__link" href="../shop-frontpage/">SHOP</a></li>
          <li class="navigation__item"><a class=" navigation__link" href="#">CONTACT US</a></li>
      </ul>
  </header>