<footer class="footer-bar">
    <div class="footer-bar__left">
      <p class="footer-bar__address">
        Hi-Fi Corner<br />
        Edinburgh 2 Joppa Road EH15 2EU<br />
        Falkirk 44 Cow Wynd FK1 1PU
      </p>
      <p class="footer-bar__returns">
        <a class="footer-bar__links" href="#"> Returns &amp; Refunds</a> |
        <a class="footer-bar__links" href="#">Privacy Policy</a>
      </p>
    </div>
    <div class="footer-bar__right">
      <img
        class="footer-bar__payment"
        src="../img/footer/pay_logos.png"
        alt="payment options"
      />
      <div class="footer-bar__socials">
        <a class="footer-bar__links" href="#"
          ><i class="fab fa-facebook"></i
        ></a>
        <a class="footer-bar__links" href="#"
          ><i class="fab fa-youtube"></i
        ></a>
        <a class="footer-bar__links" href="#"
          ><i class="fab fa-twitter-square"></i
        ></a>
        <a class="footer-bar__links" href="#"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </footer>