<%- include("../partials/before-header.ejs") %>
<%- include("../partials/header.ejs") %>


    <main>
      
    <section class="hero">
        <img class="hero__logo" src="img/logo.png" alt="HiFi Corner Logo">
    </section>
    
    <section class="quote section">
      <h2 class="quote__title">KNOWLEDGE SPEAKS, BUT WISDOM LISTENS.</h2>
        <h3 class="quote__undertitle">JIMI HENDRIX</h3>
    </section>

    <section class="section slider">
        <h2 class="slider__title">primaluna sounds</h2>
        <img class="slider__img" src="img/slider/primaluna-black.png" alt="Primaluna Sounds">
        <i class="fas fa-chevron-left slider__arrow slider__arrow_left"></i>
        <i class="fas fa-chevron-right slider__arrow slider__arrow_right"></i>
    </section>
      
    <section class="three-column-grid">
        <div class="three-column-grid__item three-column-grid__item_1">
            <a class="three-column-grid__links" href="#"><i class="fab fa-facebook three-column-grid__icons"></i></a>
        </div>
        <div class="three-column-grid__item three-column-grid__item_2">
            <a class="three-column-grid__links" href="#"><i class="fab fa-blogger three-column-grid__icons"></i></a>
        </div>
        <div class="three-column-grid__item three-column-grid__item_3">
            <a class="three-column-grid__links" href="#"><i class="fab fa-twitter three-column-grid__icons"></i></a>
        </div>
    </section>
      <section class="three-column-grid three-column-grid_small">
        <div class="footer-links__item">
          <h2 class="footer-links__title">
            <a class="footer-links__links" href="#">History</a>
          </h2>
          <p class="footer-links__text">
            Established in the late 1960s. Our family owned business is based in
            Edinburgh and Falkirk. Servicing customers acress the UK.
          </p>
        </div>
        <div class="footer-links__item">
          <h2 class="footer-links__title">
            <a class="footer-links__links" href="#">News</a>
          </h2>
          <p class="footer-links__text">
            Check out our latest news stories for all the up to date Hi-Fi
            Corner products and launches.
          </p>
        </div>
        <div class="footer-links__item">
          <h2 class="footer-links__title">
            <a class="footer-links__links" href="#">Shop</a>
          </h2>
          <p class="footer-links__text">
            Have a look in our online shop for great products and deals.
          </p>
        </div>
      </section>
    </main>
    <script src="../js/slider.js"></script>
    
<%- include("../partials/footer.ejs") %>
<%- include("../partials/after-footer.ejs") %>