<%- include("../partials/before-header.ejs") %>
<%- include("../partials/header.ejs") %>

   
    <main class="main__brand">
        
        <div class="category__container">
            <div class="category__box">
                <img class="category__image" src="../img/categories/shop_by_brand.jpg" alt="">
                <a class="category__Links" href="#">SHOP BY BRAND</a>
            </div>
            <div class="category__box">
                <img class="category__image" src="../img/categories/amplifiers.jpg" alt="">
                <a class="category__Links" href="#">AMPLIFIERS</a>
            </div>
            <div class="category__box"><img class="category__image" src="../img/categories/speakers.jpg" alt="">
            <a class="category__Links" href="#">Speakers</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/turntables.jpg" alt="">    
            <a class="category__Links" href="#">TURN TABLES</a>   </div>
            <div class="category__box"><img class="category__image" src="../img/categories/cd_player.jpg" alt="">
            <a class="category__Links" href="#">CD PLAYERS</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/streamers.jpg" alt="">
            <a class="category__Links" href="#">STREAMERS</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/cables.jpg" alt="">
            <a class="category__Links" href="#">CABLES</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/furniture.jpg" alt="">
            <a class="category__Links" href="#">FURNITURE</a> </div>
            <div class="category__box"><img class="category__image" src="../img/categories/headphones.jpg" alt="">
            <a class="category__Links" href="#">HEADPHONES</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/home-cinema.jpg" alt=""> 
            <a class="category__Links" href="#">HOME CINEMA</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/outlet.jpg" alt="">
            <a class="category__Links_higher" href="#">OUTLET - SAVE UP <br> TO 50%</a> </div>
            <div class="category__box"><img class="category__image" src="../img/categories/ebay.jpg" alt="">
            <a class="category__Links" href="#">EBAY STORE</a> </div>
            <div class="category__box"><img class="category__image" src="../img/categories/ceiling_speakers.jpg" alt=""> 
            <a class="category__Links" href="#">CEILING SPEAKERS</a></div>
            <div class="category__box"><img class="category__image" src="../img/categories/tvs.jpg" alt="">
            <a class="category__Links" href="#">TVS</a> </div>
            <div class="category__box"><img class="category__image" src="../img/categories/vinyl_lp.jpg" alt=""
                > <a class="category__Links" href="#">VINYL LPS</a>
             </div>
            <div class="category__box">
                <button class="category__Links_button">
             <a class="category__link_nodec" href="../shop/">SHOP NOW</a></button> </div></a>
        </div>
    </main>
            
<%- include("../partials/footer.ejs") %>
<%- include("../partials/after-footer.ejs") %>