<%- include("../partials/before-header.ejs") %>
<%- include("../partials/header.ejs") %>

   
    <main>
    </main>

    <script src="../js/singleproduct.js"></script>

    
<%- include("../partials/footer.ejs") %>
<%- include("../partials/after-footer.ejs") %>