
$beige: #a39161;
$light-grey: #e1e1e1;
$slider-color: #C0AB9F;
$grey: #706c71;
$white: #FFF;
$font-medium: 1.5em;

:root{
    font-size: 10px;
}
html{
    overflow-y: scroll;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    width:100%;
}